<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoyuan.study.datasource.mapper.ChannelsMapper" >
  <resultMap id="BaseResultMap" type="com.daoyuan.study.datasource.model.Channels" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="level_type" property="levelType" jdbcType="VARCHAR" />
    <result column="aid" property="aid" jdbcType="BIGINT" />
    <result column="bid" property="bid" jdbcType="BIGINT" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="link_name" property="linkName" jdbcType="VARCHAR" />
    <result column="link_mobile" property="linkMobile" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="province_scope" property="provinceScope" jdbcType="VARCHAR" />
    <result column="city_scope" property="cityScope" jdbcType="VARCHAR" />
    <result column="district_scope" property="districtScope" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="name_encrypt" property="nameEncrypt" jdbcType="VARCHAR" />
    <result column="link_man_encrypt" property="linkManEncrypt" jdbcType="VARCHAR" />
    <result column="link_mobile_encrypt" property="linkMobileEncrypt" jdbcType="VARCHAR" />
    <result column="telephone_encrypt" property="telephoneEncrypt" jdbcType="VARCHAR" />
    <result column="street_encrypt" property="streetEncrypt" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, app_id, level_type, aid, bid, cid, link_name, link_mobile, telephone, province_scope, 
    city_scope, district_scope, province, city, district, street, created_at, updated_at, 
    name_encrypt, link_man_encrypt, link_mobile_encrypt, telephone_encrypt, street_encrypt, 
    delete_flag, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from channels
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from channels
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.daoyuan.study.datasource.model.Channels" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channels (name, app_id, level_type, 
      aid, bid, cid, link_name, 
      link_mobile, telephone, province_scope, 
      city_scope, district_scope, province, 
      city, district, street, 
      created_at, updated_at, name_encrypt, 
      link_man_encrypt, link_mobile_encrypt, telephone_encrypt, 
      street_encrypt, delete_flag, state
      )
    values (#{name,jdbcType=VARCHAR}, #{appId,jdbcType=INTEGER}, #{levelType,jdbcType=VARCHAR}, 
      #{aid,jdbcType=BIGINT}, #{bid,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{linkName,jdbcType=VARCHAR}, 
      #{linkMobile,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{provinceScope,jdbcType=VARCHAR}, 
      #{cityScope,jdbcType=VARCHAR}, #{districtScope,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{city,jdbcType=INTEGER}, #{district,jdbcType=INTEGER}, #{street,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{nameEncrypt,jdbcType=VARCHAR}, 
      #{linkManEncrypt,jdbcType=VARCHAR}, #{linkMobileEncrypt,jdbcType=VARCHAR}, #{telephoneEncrypt,jdbcType=VARCHAR}, 
      #{streetEncrypt,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BIT}, #{state,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daoyuan.study.datasource.model.Channels" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="levelType != null" >
        level_type,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="linkName != null" >
        link_name,
      </if>
      <if test="linkMobile != null" >
        link_mobile,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="provinceScope != null" >
        province_scope,
      </if>
      <if test="cityScope != null" >
        city_scope,
      </if>
      <if test="districtScope != null" >
        district_scope,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="nameEncrypt != null" >
        name_encrypt,
      </if>
      <if test="linkManEncrypt != null" >
        link_man_encrypt,
      </if>
      <if test="linkMobileEncrypt != null" >
        link_mobile_encrypt,
      </if>
      <if test="telephoneEncrypt != null" >
        telephone_encrypt,
      </if>
      <if test="streetEncrypt != null" >
        street_encrypt,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="levelType != null" >
        #{levelType,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=BIGINT},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkMobile != null" >
        #{linkMobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="provinceScope != null" >
        #{provinceScope,jdbcType=VARCHAR},
      </if>
      <if test="cityScope != null" >
        #{cityScope,jdbcType=VARCHAR},
      </if>
      <if test="districtScope != null" >
        #{districtScope,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        #{district,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="nameEncrypt != null" >
        #{nameEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="linkManEncrypt != null" >
        #{linkManEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="linkMobileEncrypt != null" >
        #{linkMobileEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="telephoneEncrypt != null" >
        #{telephoneEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="streetEncrypt != null" >
        #{streetEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daoyuan.study.datasource.model.Channels" >
    update channels
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="levelType != null" >
        level_type = #{levelType,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=BIGINT},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=BIGINT},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="linkName != null" >
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkMobile != null" >
        link_mobile = #{linkMobile,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="provinceScope != null" >
        province_scope = #{provinceScope,jdbcType=VARCHAR},
      </if>
      <if test="cityScope != null" >
        city_scope = #{cityScope,jdbcType=VARCHAR},
      </if>
      <if test="districtScope != null" >
        district_scope = #{districtScope,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=INTEGER},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="nameEncrypt != null" >
        name_encrypt = #{nameEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="linkManEncrypt != null" >
        link_man_encrypt = #{linkManEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="linkMobileEncrypt != null" >
        link_mobile_encrypt = #{linkMobileEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="telephoneEncrypt != null" >
        telephone_encrypt = #{telephoneEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="streetEncrypt != null" >
        street_encrypt = #{streetEncrypt,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daoyuan.study.datasource.model.Channels" >
    update channels
    set name = #{name,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=INTEGER},
      level_type = #{levelType,jdbcType=VARCHAR},
      aid = #{aid,jdbcType=BIGINT},
      bid = #{bid,jdbcType=BIGINT},
      cid = #{cid,jdbcType=BIGINT},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_mobile = #{linkMobile,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      province_scope = #{provinceScope,jdbcType=VARCHAR},
      city_scope = #{cityScope,jdbcType=VARCHAR},
      district_scope = #{districtScope,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      district = #{district,jdbcType=INTEGER},
      street = #{street,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      name_encrypt = #{nameEncrypt,jdbcType=VARCHAR},
      link_man_encrypt = #{linkManEncrypt,jdbcType=VARCHAR},
      link_mobile_encrypt = #{linkMobileEncrypt,jdbcType=VARCHAR},
      telephone_encrypt = #{telephoneEncrypt,jdbcType=VARCHAR},
      street_encrypt = #{streetEncrypt,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>